#complaints {min-width: 400px; overflow: hidden; overflow-y: auto; height: 100%;}
#complaints form.modal{margin: 10px;}
#complaints .buttons{text-align: center;}
#complaints .text_error b{color:red;}
#complaints .text_error span{color:#000;}
#complaints fieldset{padding: 0px; margin-bottom: 0px;}